/* Importa as fontes usadas */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');


/* Resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Var */
:root {
    --green-teste: #cdddbb;
    --green-outro: #38690c;
}

/* Global */
html {
    font-size: 10px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    color: var(--black-color);
    background-color: var(--green-teste);
}

ul {
    list-style: none;
}

section {
    width: 70%;
    margin: 0 auto;
    border-right: 2px solid rgba(0,128,0,.3);
    border-left: 2px solid rgba(0,128,0,.3);
    border-bottom: 2px solid rgba(0,128,0,.3);
    border-top: 2px solid rgba(0,128,0,.3);
    /*background-color: var(--green-outro);*/
}

.dados {
    /*background-color: var(--green-outro);*/
    justify-content: center;
}

.sectionResultados {
    justify-content: center;
}

.footer {
    width: 70%;
    margin: 0 auto;
    border: none;
    height: 5rem;
}

/* Geral */
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    background-color: #fff;
}

.container h1 {
    text-transform: uppercase;
}

.container label {
    color: var(--black-color);
    font-size: 2rem;
    display: flex;
}

.upload label,
.manual label, .manual input, .manual small,
.nomeVariavel label, .nomeVariavel input,
.tiposVariaveis label, .tiposVariaveis select,
.calcular button {
    width: 80%;
    margin-left: 8rem;
}

/* Div que contém os agrupamentos dos elementos ----- */
.interna {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

input[type=text] {
    padding: .6rem;
    width: 80%;
    font-size: 1.5rem;
}

select {
    padding: .6rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/* Menu - cabeçalho */
.header {
    background-color: #38690c;
}

.menu {
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    width: 95rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    margin: 0 auto;
}

.nav-item {
    background-color: #38690c;
    margin-top: .5rem;
    margin-right: 2rem;
    margin-left: 0%;
    align-items: right;
}

.nav-link {
    display: block;
    color: #fff;
    height: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

.nav-link:hover {
    border-bottom: 3px solid #fff;
    font-size: 2.1rem;
}

/* Título da Página ------------- */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
    height: 10rem;
}

.title {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
    color: #004516;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

/* Upload de Dados ------------- */
.upload {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.lblInput {
    justify-content: space-between;
    padding: 0rem 0rem 0rem .6rem;
    display: inline;
    font-size: 1.6rem !important;
    align-items: center;
    color: grey !important; 
    cursor: pointer;
    
    border-width: 1px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: green;
}

.lblInput:hover {    
    border-width: 1px;
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: green;
}

/* Esconder o botão do input ---- */
.importarArquivo::-webkit-file-upload-button {
    display: none;
}

.importarArquivo {
    outline: none;
    border: none;
    display: inline-flex;
    margin-left: 2rem;
}

.importarArquivo::before {
    content: "Selecionar";
    justify-content: center;
    display: inline-flex;
    white-space: nowrap;
    -webkit-user-select: none;
    width: 100%;
    height: 3.5rem;
    padding: .6rem;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: green;
    outline: none;
    cursor: pointer;
    background-color: #dbead5;
    color: #005221;
    letter-spacing: 2px;
}

.importarArquivo:hover::before {
    background-color: #a8cc99;
    border-top: 0px;
    border-right: 0px;
}

/* Inserção manual de Dados ---- */
.manual {
    padding: 1rem 0;
}

.manual input {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: green;
    outline: none;
}

.manual input:hover {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none;
}

.notaDadosManual {
    display: flex;
    margin-top: 2px;
}

/* Nome da Variável ------------- */
.nomeVariavel {
    padding: 1rem 0;
}

.nomeVariavel input {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: green;
    outline: none;
}

.nomeVariavel input:hover {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none;
}

/* Tipo de Variável ------------- */
.tiposVariaveis {
    padding: 1rem 0;
}

.tipoVariavel {
    width: 80%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: green;
    outline: none;    
}


.tipoVariavel:hover {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none;
}

/* Amostra e População ---------- */
.amostraPopulacao {
    display: flex;
    padding: 1rem 0;
}

.amostra {
    width: 32.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.amostra:hover {
    background-color: #a8cc99;
}

.populacao {
    width: 32.3rem;
    margin-right: 1rem;
}

.populacao:hover {
    background-color: #a8cc99;
}

.amostra, .populacao {
    display: inline-flex;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    background-color: #dbead5;
}

.amostra input, .populacao input {
    width: 5rem;
    margin: auto 0;
    outline: none;
    cursor: pointer;
}

.amostra label, .populacao label{
    width: 28rem;
    height: 3.5rem;
    align-items: center;
    margin: auto 0;
    cursor: pointer;
    color: #005221;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Botão Calcular -------------- */
.calcular {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.btnCalcular {
    padding: .6rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none;
    cursor: pointer;
    background-color: #dbead5;
    color: #005221;
    letter-spacing: 2px;
}

.btnCalcular:hover {
    background-color: #a8cc99;
}

/* Tabela ---------------------- */
.exibirTabela {
    text-align: center;
    font-size: 1.7rem;
    justify-content: center;
    padding-top: 1rem;
}

.tabela {
    display: inline-block;
    border-collapse: collapse;
    justify-content: center;
    padding: 2rem;
}

th {
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #004516;
    border-bottom: 1px solid #004516;
    background-color: #a8cc99;
}

.corpoTabela tr td {
    border-bottom: 1px solid #004516;
}

.rodapeTabela tr td {
    border-bottom: 1px solid #004516;
}

/* Tabela da variável qualitativa ordinal ------- */
.dragging {
    background-color: #f5f5f5;
    cursor: grabbing;
}

.mouseGrab {
    cursor: grab;
}

/* Resultados das Medidas de Tendência Central, Medidas de Dispersão
e Medidas Separatrizes */
.tituloResultado {
    display: flex;
    justify-content: center;
    border-width: 20px;
    border-bottom: 2px solid #004516;
    padding-top: 4.5rem;
    color: green;
    letter-spacing: 2px;
}

.exibeResultado {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    padding-top: 1rem;
}

.exibeResultado div {
    padding-left: 2rem;
    padding-right: 6rem;
    padding-top: 1rem;
    text-align: center;
    vertical-align: center;
}

/* Medidas separatrizes ---------- */
.medidasSeparatrizes {
    padding-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.tipoMedidaSeparatriz, .medidas, .exibeResultMedSep {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    padding-top: 1rem;
}

.exibeResultMedSep {
    font-size: 2rem;
}

.exibeResultMedSep sub {
    vertical-align: sub !important;
    font-size: smaller;
}

/* Labels Medida Separatriz e do Valor da Medida Separatriz -------- */
.lblMedSep, .lblValMedSep {
    height: 3rem;
    align-items: center;
    vertical-align: middle !important;
    margin-right: 1rem;
}

.medidaSeparatriz {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: green;
    outline: none;
}

.medidaSeparatriz:hover {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none;
}

.medidaQKD {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: green;
    outline: none;
    align-items: center;
}

.medidaQKD:hover {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none; 
}

.percentil {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: green;
    outline: none;
    padding-left: 2rem;
}

.percentil:hover {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    outline: none; 
}

.grafico {
    padding: 5rem;
    width: 50%;
    height: 90%;
}