* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
}

div {
    padding: .2rem;
}

table tr td {
    border: solid 1px #000;
}

table thead tr th {
    border: solid 1px #000;
}